body{
    background-color: #eee2dc;
}

h1{
    padding: 0.5em 0;
    font-family: cursive;
    /* border-bottom: 1px solid double; */
}

.textbox{
    display: flex;
    justify-content: center;
    align-content: center;
}

textarea{
    resize: none;
    padding: 1em;
    font-family: cursive;
    color: #3f37c9;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}